<div class=" text-center m-3">
  <div class="row">

    <div class="d-flex justify-content-around flex-wrap">

      <div *ngFor="let movie of movies" class="card p-1 mb-3" style="width: 18rem;">
        <div class=" text-bg-dark ">
          <img [src]="'https://image.tmdb.org/t/p/w500/'+ movie.poster_path" class="card-img" alt="{{movie.title}}">
          <div class="card-img-overlay ">
            <h5 class="card-title text-bg-primary text-center"
              style="width: 3rem; border-radius: 10px; font-size: 1rem;">
              {{movie.release_date | date:"y"}}</h5>
          </div>
        </div>
        <div class="card-footer text-center">
          <strong>{{movie.title}}</strong>
        </div>
      </div>
    </div>
  </div>
</div>
