<div class=" text-center m-3">
  <div class="row col-12">

    <div class="col-2 col-md-4 col-xl-3">

      <div class="card p-1" style="width: 18rem;">
        <div class=" text-bg-dark " style="height: 20rem;">
          <img src="..." class="card-img" alt="...">
          <div class="card-img-overlay ">
            <h5 class="card-title text-bg-primary text-center"
              style="width: 3rem; border-radius: 10px; font-size: 1rem;">
              2023</h5>
          </div>
        </div>
        <div class="card-footer text-center">
          nombre de la pelicula
        </div>
      </div>
    </div>

    <div class="col-2  col-md-4 col-xl-3">

      <div class="card p-1" style="width: 18rem;">
        <div class=" text-bg-dark " style="height: 20rem;">
          <img src="..." class="card-img" alt="...">
          <div class="card-img-overlay ">
            <h5 class="card-title text-bg-primary text-center"
              style="width: 3rem; border-radius: 10px; font-size: 1rem;">
              2023</h5>
          </div>
        </div>
        <div class="card-footer text-center">
          nombre de la pelicula
        </div>
      </div>
    </div>

    <div class="col-2  col-md-4 col-xl-3">

      <div class="card p-1" style="width: 18rem;">
        <div class=" text-bg-dark " style="height: 20rem;">
          <img src="..." class="card-img" alt="...">
          <div class="card-img-overlay ">
            <h5 class="card-title text-bg-primary text-center"
              style="width: 3rem; border-radius: 10px; font-size: 1rem;">
              2023</h5>
          </div>
        </div>
        <div class="card-footer text-center">
          nombre de la pelicula
        </div>
      </div>
    </div>

    <div class="col-2 col-md-4 col-xl-3">

      <div class="card p-1" style="width: 18rem;">
        <div class=" text-bg-dark " style="height: 20rem;">
          <img src="..." class="card-img" alt="...">
          <div class="card-img-overlay ">
            <h5 class="card-title text-bg-primary text-center"
              style="width: 3rem; border-radius: 10px; font-size: 1rem;">
              2023</h5>
          </div>
        </div>
        <div class="card-footer text-center">
          nombre de la pelicula
        </div>
      </div>
    </div>



  </div>

</div>
