<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">DEVFILMS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown"
      aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Genero
          </button>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li class="dropdown-item">Acción</li>
            <li class="dropdown-item">Aventura</li>
            <li class="dropdown-item">Comedia</li>
            <li class="dropdown-item">Ciencia ficción</li>
            <li class="dropdown-item">Fantasía</li>
            <li class="dropdown-item">Misterio</li>
            <li class="dropdown-item">Romance</li>
            <li class="dropdown-item">Thriller</li>
            <li class="dropdown-item">Terror</li>
          </ul>
        </li>
      </ul>
    </div>
       
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Ordenar por:
              </button>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li class="dropdown-item">A - Z</li>
                <li class="dropdown-item">Z - A</li>

              </ul>
            </li>
          </ul>
        </div>

  </div>
</nav>
